/* ------------------------------------------------------------------------------
	 Font
-------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500&family=Kufam:ital,wght@0,500;1,400&display&family=El+Messiri:wght@400;500&family=IBM+Plex+Sans+Arabic:wght@200;300;400&family=Vazirmatn:wght@200;300;400&display=swap');

/*---
font-family: 'Cairo', sans-serif;
font-family: 'El Messiri', sans-serif;
font-family: 'IBM Plex Sans Arabic', sans-serif;
font-family: 'Vazirmatn', sans-serif;
---*/
/*============================
    ROOT SECTION
============================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #e6e1e1;
}

html::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 5rem;
}

body {
  background: #ababab;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.btn {
  padding: 0 0;
}
/*============================
    HEADER SECTION
============================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .logo img {
  width: 80px;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0 1rem;
  font-family: 'Cairo', sans-serif;
}

.header .navbar a:hover {
  color: #29d9d5;
}

.header .btn {
  margin-top: 0;
  font-family: 'Cairo', sans-serif;
}

.header .btn span {
  width: 16px;
  font-family: 'Cairo', sans-serif;
  font-size: 14px;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
/*============================
    FOOTER SECTION
============================*/
#footer {
  background-color: #000;
  padding: 3rem 9%;
  margin-top: 100px;
}

#footer .box a img {
  width: 150px;
}

#footer .box-container .box .title {
  font-size: 16px;
}

#footer .box-container {
  display: -ms-grid;
  font-size: 62.5%;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

#footer .box-container .box {
  padding: 1rem 0;
}

#footer .box-container .box .logo {
  padding-bottom: 1rem;
}

#footer .box-container .box h3 {
  font-size: 25px;
  color: #fff;
  padding: 1rem 0;
  font-family: 'Cairo', sans-serif;

}

#footer .box-container .box a {
  font-size: 18px;
  color: #faf8f8;
  padding: 1rem 0;
  line-height: 2;
  font-family: 'Cairo', sans-serif;
}

#footer .box-container .box p i {
  padding-right: .5rem;
  color: #29d9d5;
}

#footer .box-container .box .share a img {
  width: 40px;
  margin-right: 50px;
  margin-top: 20px;
  transition: 0.5s all ease-in-out;
}

#footer .box-container .box .share a img:hover {
  transform: scale(1.5);
}

#footer .box-container .box .links {
  font-size: 1.4rem;
  color: #aaa;
  display: block;
  transition: 0.5s all ease-in-out;
}

#footer .box-container .box .links:hover {
  color: #29d9d5;
  transform: scaleX(1.1);
}

#footer .box-container .box .links i:hover {
  padding-left: 30px;
  transition: 0.5s all ease-in-out;
}

#footer .box-container .box .links i {
  margin-left: 5px;
  color: #29d9d5;
}

#footer .box-container .box .notices {
  font-size: 20px;
  text-align: center;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

#footer .box-container .box form .email {
  width: 100%;
  text-align: center;
  font-family: 'El Messiri', sans-serif;
  border: 2px solid #29d9d5;
  border-radius: 30px;
  background: none;
  font-size: 16px;
  text-transform: none;
  color: #aaa;
  margin-bottom: 1rem;
  padding: 1.2rem 1.4rem;
}

#footer .box-container .box form .name {
  width: 100%;
  font-family: 'El Messiri', sans-serif;
  text-align: center;
  border: 2px solid #29d9d5;
  border-radius: 30px;
  background: none;
  font-size: 16px;
  text-transform: none;
  color: #aaa;
  margin-bottom: 1rem;
  padding: 1.4rem 1.6rem;
}

#footer .box-container .box form .form-control {
  width: 100%;
  font-family: 'El Messiri', sans-serif;
  text-align: center;
  border: 2px solid #29d9d5;
  border-radius: 30px;
  background: none;
  font-size: 16px;
  text-transform: none;
  color: #aaa;
  margin-bottom: 1rem;
  padding: 1.6rem 1.8rem;
}

#footer .box-container .box .btn-12 {
  padding: 1.8rem 2rem;
  border: none;
  background: none;
  box-shadow: none;
  line-height: 42px;
  width: 100%;
  transform: translate(20%,0);
}

#footer .box-container .box .btn-12 span {
  background: #29d9d5;
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 50%, rgba(2, 126, 251, 1) 100%);
  display: block;
  position: absolute;
  width: 50%;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#footer .box-container .box .btn-12 span:nth-child(1) {
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

#footer .box-container .box .btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

#footer .box-container .box .btn-12:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

#footer .box-container .box .btn-12:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
} 

#footer .rights p {
  color: #fff;
  font-size: 22px;
  letter-spacing: 2px;
  text-align: center;
  font-family: 'El Messiri', sans-serif;
}

#footer .rights span {
  color: #29d9d5;
}

#footer .title {
  color: aliceblue;
}
/*============================
    MEDIA SCREEN SECTION
============================*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 837px) {
  #footer .rights p {
    color: #fff;
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'El Messiri', sans-serif;
    padding-top: 30px;
  }
}