/*============================
    HEADER NAVBAR
============================*/
#navbar {
    background-color: rgb(9, 9, 15);
    width: 100%;
    z-index: 999;
    position: fixed;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#navbar a {
    display: inline-block;
    margin-left: 10px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 16px;
    color: white;
}

#navbar a:hover {
    color: red;
}

#navbar span a {
    color: rgb(9, 171, 192);
    ;
    font-size: 18px;
}

/*============================
    START ALNAWM
============================*/
#start-alnawm h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    font-family: 'El Messiri', sans-serif;
    color: #0707b1;
}

#start-alnawm h5 {
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
}

/*============================
    AUDIO
============================*/
#aud-but {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aud-but .get-it-on-github {
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'Roboto';
    color: #55606E;
}

#aud-but .audio.green-audio-player {
    width: 400px;
    min-width: 300px;
    height: 56px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    background-color: #fff;
}

#aud-but .audio.green-audio-player .play-pause-btn {
    display: none;
    cursor: pointer;
}

#aud-but .audio.green-audio-player .spinner {
    width: 18px;
    height: 18px;
    animation: spin 0.4s linear infinite;
}

#aud-but .audio.green-audio-player .slider {
    flex-grow: 1;
    background-color: #D8D8D8;
    cursor: pointer;
    position: relative;
}

#aud-but .audio.green-audio-player .slider .progress {
    background-color: #44BFA3;
    border-radius: inherit;
    position: absolute;
    pointer-events: none;
}

#aud-but .audio.green-audio-player .slider .progress .pin {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #44BFA3;
    position: absolute;
    pointer-events: all;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
}

#aud-but .audio.green-audio-player .controls {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #55606E;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}

#aud-but .audio.green-audio-player .controls .slider {
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 2px;
    height: 4px;
}

#aud-but .audio.green-audio-player .controls .slider .progress {
    width: 0;
    height: 100%;
}

#aud-but .audio.green-audio-player .controls .slider .progress .pin {
    right: -8px;
    top: -6px;
}

#aud-but .audio.green-audio-player .controls span {
    cursor: default;
}

#aud-but .audio.green-audio-player .volume {
    position: relative;
}

#aud-but .audio.green-audio-player .volume .volume-btn {
    cursor: pointer;
}

#aud-but .audio.green-audio-player .volume .volume-btn.open path {
    fill: #44BFA3;
}

#aud-but .audio.green-audio-player .volume .volume-controls {
    width: 30px;
    height: 135px;
    background-color: rgba(0, 0, 0, 0.62);
    border-radius: 7px;
    position: absolute;
    left: -3px;
    bottom: 52px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

#aud-but .audio.green-audio-player .volume .volume-controls.hidden {
    display: none;
}

#aud-but .audio.green-audio-player .volume .volume-controls .slider {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 6px;
    border-radius: 3px;
}

#aud-but .audio.green-audio-player .volume .volume-controls .slider .progress {
    bottom: 0;
    height: 100%;
    width: 6px;
}

#aud-but .audio.green-audio-player .volume .volume-controls .slider .progress .pin {
    left: -5px;
    top: -8px;
}

/*============================
      DOWNLOAD BUTTON
  ============================*/
#down-but h2 {
    margin-top: 30px;
    font-family: 'Cairo', sans-serif;
    font-size: 22px;
}

#down-but .bubbly-button {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 18px;
    padding: 1em 2em;
    margin-top: 15px;
    margin-left: 70px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0081;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    transition: 0.5s all ease-in-out;
}

#down-but .bubbly-button:hover {
    background-color: #940852;
}

#down-but .bubbly-button:before,
.bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

#down-but .bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

#down-but .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

#down-but .bubbly-button:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

#down-but .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

#down-but .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

/*============================
    Alnawm
============================*/
#alnawm h2 {
    color: #0707b1;
    font-size: 45px;
    font-family: 'El Messiri', sans-serif;
    margin-top: 20px;
}

#alnawm h3 {
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #0707b1;
    font-size: 30px;
}

#alnawm h3 span a {
    color: red;
}

#alnawm p {
    font-size: 30px;
    font-family: 'Cairo', sans-serif;
}

#alnawm p span {
    color: rgb(156, 25, 25);
}

#alnawm hr {
    border: solid;
    color: #111111;
    margin-top: 30px;
}

/*============================
      ARROW
  ============================*/
#arrow h3 {
    font-family: 'Cairo', sans-serif;
    font-size: 28px;
    text-align: center;
    color: #0707b1;
    margin-bottom: 30px;
} 

#arrow .btn {
    display: block;
    margin-left: 50px;
    position: relative;
    padding: 10px 30px;
    font-size: 28px;
    border: 5px solid #940852 ;
    border-radius: 40px;
    transition: all 1s;
    color: #b81313;
}

#arrow .btn:after,
.btn:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
}

#arrow .btn:after {
    top: -1px;
    left: -1px;
}

#arrow .btn:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #b34b5a;
    color: #fff;
}

#arrow .btn:hover:before,
#arrow .btn:hover:after {
    width: 100%;
    height: 100%;
}

#arrow .data-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*============================
       MEDIA SCREEN
  ============================*/
@media (max-width: 760px) {
    #navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 435px) {
    #arrow .btn {
        font-size: 22px;
        margin-left: 20px;
    }
}

@media (max-width: 410px) {
    #aud-but .audio.green-audio-player {
        width: 350px;
    }

    #alnawm h2 {
        font-size: 35px;
    }

    #alnawm p {
        font-size: 25px;
    }

    #arrow .btn {
        font-size: 18px;
        margin-left: 10px;
    }
}

@media (max-width: 360px) {
    #aud-but .audio.green-audio-player {
        width: 300px;
    }

    #arrow .btn {
        font-size: 18px;
        margin-left: 5px;
    }
}

@media (max-width: 335px) {
    #down-but h2 {
        font-size: 20px;
    }

    #down-but .bubbly-button {
        transform: translate(-10px, 0);
    }

    #alnawm h2 {
        font-size: 30px;
    }

    #alnawm p {
        font-size: 20px;
    }
}

@media (max-width: 310px) {
    #down-but h2 {
        font-size: 18px;
    }

    #down-but .bubbly-button {
        transform: translate(-15px, 0);
    }
}

@media (max-width: 280px) {
    #aud-but {
        display: none;
    }
}



