.input {
   width: 100%;
   text-align: center;
   font-family: 'Cairo', sans-serif;
   margin-top: 1rem;
   border: none;
   outline: none;
   border-radius: 15px;
   padding: 1em;
   background-color: #ccc;
   box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
   transition: 300ms ease-in-out;
}

.input:focus {
   background-color: white;
   transform: scale(1.05);
   box-shadow: 13px 13px 100px #969696,
      -13px -13px 100px #ffffff;
}

.sub-but {
   width: 100%;
   font-family: inherit;
   margin-top: 1rem;
   font-family: 'Ubuntu', sans-serif;
   font-size: 18px;
   background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
   color: white;
   padding: 0.8em 1.2em;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   border-radius: 25px;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
   transition: all 0.3s;
}

.sub-but:hover {
   transform: translateY(-3px);
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.sub-but:active {
   transform: scale(0.95);
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.sub-but span {
   display: block;
   margin-left: 0.4em;
   transition: all 0.3s;
}

.sub-but svg {
   width: 18px;
   height: 18px;
   fill: white;
   transition: all 0.3s;
}

.sub-but .svg-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.2);
   margin-right: 0.5em;
   transition: all 0.3s;
}

.sub-but:hover .svg-wrapper {
   background-color: rgba(255, 255, 255, 0.5);
}

.sub-but:hover svg {
   transform: rotate(45deg);
}