#navbar {
    background-color: rgb(9, 9, 15);
    width: 100%;
    z-index: 999;
    position: fixed;
    text-align: center;
}
#navbar a {
    margin-left: 10px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 16px;
    color: white;
}
#navbar a:hover {
    color:red;
}
#navbar span a {
    color: rgb(9, 171, 192);;
    font-size: 18px;
}
#bakir h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    font-family: 'El Messiri', sans-serif;
    color: #0707b1;
}
#bakir h5 {
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
}
#start-bakir h3 {
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}
#start-bakir h2 {
    color: #0707b1;
    font-size: 45px;
    font-family: 'El Messiri', sans-serif;
    margin-top: 20px;
}
#start-bakir p {
    font-size: 30px;
}
#start-bakir p span {
    color: red;
}
#start-bakir hr {
    border: solid;
    color: #111111;
    margin-top: 30px;
}
#start-bakir h3 {
  color: #0707b1;
  font-size: 30px;
}
#start-bakir h3 span a{
    color: red;
}
